:root {
  --bulma-background: black;
  --bulma-body-color: black;
  --bulma-color: #FEAE63;
  --bulma-primary-h: 225deg;
  --bulma-primary-s: 87%;
  --bulma-primary-l: 57%;
  --bulma-navbar-burger-color: black;
  --container-max-width: 630px;
}


.section.release {
  text-align: center;
  padding: var(--bulma-section-padding-medium);
  background-color: #171530;
  color: #eee;
}

.section.release .bandcamp-iframe-container {
  margin: 0 auto; 
}

section#go {
  background: black url('/images/bg-go.webp') no-repeat center;
  background-size: contain;
}

section#bettlekture {
  background: #171530 url('/images/bg-bettlekture.webp') repeat-x;
  background-size: cover;
}

section#about {
  max-width: 320px;
  margin: 0 auto;
  background: #171530;
  color: #eee;
}

.navbar.actions {
  max-width: 320px;
  margin: 2rem auto;
  background: none;
}

.navbar-menu {
  justify-content: space-around;
}

a,
a:hover {
  color:#FEAE63;
}

h2, h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: #FEAE63;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

blockquote p {
  text-align: justify;
}

section {
  text-align: center;
}

blockquote {
  border: 0;
  text-align: justify;
  font-style: italic;
}

.glow-border {
  margin-top: 25px;
  box-shadow: 0 0 25px rgba(254, 182, 111, 0.8);
}

#go .glow-border {
  box-shadow: 0 0 25px rgba(116, 58, 78, 1.0);
}

.sketchy {
  border: 2px solid #333333;
  font-size: 2.0rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

.sketchy::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }

.bandcamp-iframe-container {
  padding: 56.25% 0 0 0;
  position: relative;
  height: 664px;
  max-width: 700px;
}
#go .bandcamp-iframe-container {
  height: 550px;
}

@media only screen and (min-width: 961px) {
  .bandcamp-iframe-container {
    height: 1040px;
  }
  #go .bandcamp-iframe-container {
    height: 700px;
  }
}
