/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #222;
}

body > section .wrapper {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 35ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
  .size-35 {

  }
  .size-20 {
    --max-width: 20ch;
  }
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: bold;
}

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676;
}

article * + * {
  margin-top: 1em;
}

/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a {
  color: navy;
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}

/* Media */

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}

body {
  background-color: black;
}

section#bettlekture {
  background: #171530 url('/images/music-website-bg.jpg') repeat-x;
  background-size: contain;
  color: #eee;
}

a,
a:hover {
  color:#FEAE63;
}

h2, h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: #FEAE63;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

blockquote p {
  text-align: justify;
}

section {
  text-align: center;
}

blockquote {
  border: 0;
  text-align: justify;
  font-style: italic;
}

.glow-border {
  margin-top: 25px;
  box-shadow: 0 0 25px rgba(254, 182, 111, 0.8);
}

.sketchy {
  border: 2px solid #333333;
  font-size: 2.0rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.bandcamp-iframe-contianer {
  padding: 56.25% 0 0 0;
  position: relative;
  height: 664px;
  max-width: 700px;
}

@media only screen and (min-width: 1201px) {
  .bandcamp-iframe-contianer {
    height: 1040px;
  }
}
