<footer>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <p class="has-text-centered">
        Kontakt per <a href="mailto:{{ metadata.email }}">E-Mail</a>
      </p>
    </div>
  </div>
</footer>
